<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636903797370-1uva7lb2q2d0gmug8u5rrrfhlfkaktn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636903797370-1uva7lb2q2d0gmug8u5rrrfhlfkaktn6</string>
	<key>API_KEY</key>
	<string>AIzaSyDc-Y8xI3LpjI3U89oA1zq8ZjoGQ37cwYM</string>
	<key>GCM_SENDER_ID</key>
	<string>636903797370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haya.mrtfipad.MultiRecTimerforiPad</string>
	<key>PROJECT_ID</key>
	<string>iosapp20211230</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapp20211230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636903797370:ios:0999838c9cd79f705fc1c3</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1023155372875273~4164781844</string>
</dict>
</plist>